language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t camvaz/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true camvaz/react-test npm test

after_success:
  - docker build -t camvaz/multi-client ./client
  - docker build -t camvaz/multi-nginx ./nginx
  - docker build -t camvaz/multi-server ./server
  - docker build -t camvaz/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push camvaz/multi-client
  - docker push camvaz/multi-nginx
  - docker push camvaz/multi-server
  - docker push camvaz/multi-worker
